<div class="main-container">

  <div class="controls-container">

    <button (click)="randomize()">Randomizza</button>
    <div class="slider">
      <label for="gruppi">{{groupNumber}} Gruppi</label>
      <input [(ngModel)]="groupNumber" type="range" name="gruppi" id="gruppi" min="1" max="10" (change)="createGroups()">
    </div>
  </div>



  <div class="card-container">

    <div class="group-div" *ngFor="let group of groups; let i = index">
      <h2>Gruppo {{i + 1}}</h2>
      <div class="group-container">
        <app-student-card *ngFor="let student of group" [studentData]="student"></app-student-card>
      </div>

    </div>
    <!-- <ol>
      <li *ngFor="let student of mockData">{{student}}</li>
    </ol> -->
  </div>
</div>
